@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #fafafa;
  color: #171717;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body,
.dark html {
  background-color: #161819;
  color: #ffffff;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0px;
}
